root = true

[*]
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[*.{nix,md,MD,sh,yml}]
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2

[CMakeLists.txt]
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2

[*.{c,C,h,H}]
indent_style = tab
indent_size = 4

[Makefile]
insert_final_newline = true
end_of_line = lf
indent_style = tab