# Python files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vs
.vscode

# C files
*.o
*.dep
*.bin
*.gch

# ISO files
*.cue
*.iso

# Build artifacts
build/
debug/
x64/
data/
packages/
externals/
*.log
offset.txt
comport.txt
gcc_out.txt
overlay.ld
Makefile
rebuild_PC/result
/result

# Version tracker
tools/updater/.version

# Third party stuff
tools/gcc-psyq-converted/include/*
tools/gcc-psyq-converted/lib/*
!/tools/gcc-psyq-converted/lib/.gitignore
!/tools/gcc-psyq-converted/include/.gitignore

# Settings
games/settings.json

# Executables
*.exe
*.pdb
*.lib
*.dll

# MyMods folder
mods/MyMods/*