[submodule "rebuild_PC/thirdparty/PsyCross"]
	path = externals/PsyCross
	url = https://github.com/OpenDriver2/PsyCross.git
[submodule "rebuild_PC/thirdparty/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "rebuild_PC/thirdparty/openal-soft"]
	path = externals/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "externals/externals/enet"]
	path = externals/enet
	url = https://github.com/lsalzman/enet.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/portable-file-dialogs"]
	path = externals/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json
[submodule "externals/cpp-httplib"]
	path = externals/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib

